{% extends "properties/base.html" %}
{% block title %}
About 
{% endblock %}

{% block body %}
{% load static %}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">About Us</h1> 
            <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="{{ header_image.image.url }}" alt="{{ header_image.alt_text }}">
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{{ cta.image.url }}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">{{ cta.title }}</h1>
                            <p>{{ cta.description }}</p>
                        </div>
                        {% if portfolio %}
                            <a href="{{ portfolio.file.url }}" target="_blank" class="btn btn-primary py-3 px-4 me-2">
                                <i class="fa fa-download me-2"></i>Download Our Profile
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-primary py-3 px-4 me-2 disabled">
                                <i class="fa fa-download me-2"></i>Download Our Profile
                            </a>
                        {% endif %}
                        <a href="https://maps.app.goo.gl/yp96Fv7FaGauhRNE9" class="btn btn-dark py-3 px-4" target="_blank">
                            <i class="fa fa-location"></i>Office Location
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Key People</h1>
        </div>
        <div class="row g-4">
            {% for member in team_members %}
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{ member.image.url }}" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            {% if member.facebook_url %}
                            <a class="btn btn-square mx-1" href="{{ member.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if member.twitter_url %}
                            <a class="btn btn-square mx-1" href="{{ member.twitter_url }}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if member.instagram_url %}
                            <a class="btn btn-square mx-1" href="{{ member.instagram_url }}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">{{ member.name }}</h5>
                        <small>{{ member.designation }}</small>
                        <br>
                        <small>{{ member.number }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}
